<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutoTestSuite">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="All Tests">
        <packages>
            <package name="testcases.quanLyMuonSach"/>
            <package name="testcases.quanlytrasach"/>
        </packages>
    </test>
</suite>

